<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>404</title>
        <div th:fragment="head">
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" th:href="@{/css/montserrat-font-family-styles.css}" >
            <link type="text/css" rel="stylesheet" th:href="@{/css/errorstyle.css}" />
        </div>
    </head>

    <body>
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1>Oops!</h1>
                <h2>404 - The Page can't be found</h2>
            </div>
            <a th:href="@{/tshirts/store}">Go TO Homepage</a>
        </div>
    </div>

    </body>

</html>

