<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>500</title>
    <div th:insert="~{'error/404' :: head}"></div>
</head>
<body>
<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>Oops!</h1>
            <h2>500 - Internal Server Error</h2>
        </div>
        <a th:href="@{/tshirts/store}">Go TO Homepage</a>
    </div>
</div>
</body>
</html>