*{
    margin: 0;
    padding: 0;
}

.block{
    display: block;
    position: absolute;
    top: calc(50% - 250px);
    left: calc(50% - 250px);
    width: 500px;
    background: white;
    box-sizing: border-box;
    padding: 40px;
    border-radius: 10px;
    border: solid 5px darkcyan;
}

.tshirts{
    background-image: url("../img/bg.svg");
}

@media screen and (max-width: 1024px){
    .block{
        top: 120px;
        left: 50px;
        width: calc(100% - 100px);
}

    label{
        font-size: 30px;
    }

    .btn{
        width: 300px;
        height: 60px;
        font-size: 30px;
        border-radius: 15px;
    }
    .form-control{
        height: 70px;
        font-size: 35px;
        border-radius: 12px;
    }
}