*{
    margin: 0;
    padding: 0;
}

.tshirts{
    background-image: url("../img/bg.svg");
}

.block{
    padding: 20px;
    top: 120px;
    display: block;
    position: absolute;
    left: 10%;
    right: 10%;
    background: white;
    border-radius: 10px;
    border: solid 5px darkcyan;
}

@media screen and (max-width: 1024px) {
    .block {
        left: 50px;
        right: 50px;
    }
}
