*{
    margin: 0;
    padding: 0;
}

.block{
    position: absolute;
    padding: 40px;
    top: 120px;
    left: 10%;
    right: 10%;
    background: white;
    border-radius: 10px;
    border: solid 5px darkcyan;
}

@media screen and (max-width: 1024px) {
    .block{
        left: 50px;
        right: 50px;
    }

    label{
        font-size: 30px;
    }

    .form-control{
        height: 70px;
        font-size: 35px;
        border-radius: 12px;
    }
}

.topbar{
    position: fixed;
    background-color: dimgray;
    width: 100%;
    height: 64px;
    z-index: 5;
}

.topbar *{
    display: inline;
}

.links *{
    margin-right: 25px;
    display: inline;
}

.links a{
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" ;
    color: antiquewhite;
}

.links a:hover, .links .sign:hover{
    text-decoration: underline;
    color: deepskyblue;
    cursor: pointer;
}

.logo{
    margin-right: 20px;
    height: 64px;
}

.hiddenbtn{
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    width: 100px;
    z-index: 5;
}

button.sign{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

a.sign{
    margin-right: 25px;
}

.sign{
    font-size: 20px;
    margin: 0;
    color: antiquewhite;
    position: fixed;
    right: 0;
    top: 14px;
}

.message{
    color: gainsboro;
    position: absolute;
    right: 120px;
    top: 14px;
    margin-right: 25px;
    font-size: 20px;
}

.hidden{
    display: none;
}

hr{
    border: 2px solid gray;
}

@media screen and (max-width: 1024px){
    .topbar, .logo{
        height: 100px;
    }

    .hiddenbtn{
        display: block;
    }

    .links{
        display: none;
        background-color: #5a6268;
        position: sticky;
        top: 100px;
        right: 0;
        left: 0;
        width: 100%;
        z-index: 5;
    }

    .links *{
        display: block;
    }

    .links a{
        margin-left: 40px;
        font-size: 40px;
    }

    .sign{
        font-size: 40px;
        position: static;
        margin-left: 40px;
    }

    .sign ul{
        font-size: 40px;
    }

    .message{
        display: none;
    }

    .hidden{
        display: block;
    }

    @media screen and (max-height: 500px){
        .links *{
            display: inline;
        }
        .message{
            display: none;
        }
        .hidden{
            display: none;
        }
    }
}