*{
    padding: 0;
    margin: 0;
}

.shirtcontainer{
    position: absolute;
    background-color: white;
    border: solid 5px darkcyan;
    border-radius: 10px;
    top: 120px;
    left: 50px;
    width: calc(100% - 100px);
}


.shirt{
    display: inline-grid;
    margin: 20px;
    width: 400px;
    height: 600px;
    border: solid 5px brown;
    border-radius: 10px;
}

.shirt:hover{
    border-color: green;
}

.shirt img{
    width: 300px;
}

.shirt ul{
    margin: 0
}

.tags ul{
    display: inline;
}

