*{
    margin: 0;
    padding: 0;
}

.logo{
    position: fixed;
    left: 10px;
    top: 0;
    z-index: 5;
}

.hiddenmenu{
    z-index: 5;
}

.imglogo{
    height: 64px;
}

.moblinks{
    display: none;
    padding-left: 32px;
}

.menubtn{
    position: absolute;
    right: 0%;
    top: 0%;
    margin-right: 10px;
}

.menubar{
    display: none;
    background-color: #5a6268;
    position: fixed;
    top: 100px;
    width: 100%;
    z-index: 5;
}

button.sign {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.menubar div p1{
    color: gainsboro;
    margin-bottom: 20px;
    font-size: 60px;
}

.menubar ul{
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 40px;
    font-size: 40px;
}

.menubar ul a, .menubar ul button{
    color: antiquewhite;
}

.menubar ul a:hover, .menubar ul button:hover{
    color: deepskyblue;
    cursor: pointer;
}

hr{
    border: 2px solid gray;
}

.topbar{
    background-color: dimgray;
    width: 100%;
    position: fixed;
    height: 64px;
    z-index: 5;
}

.links{
    display: block;
    margin-left: 160px;
}

.links ul{
    margin-right: 25px;
    display: inline;
}

.links div{
    display: inline;
}

.links .link{
    position: relative;
    top: 16px;
}

.links ul a, .links ul button{
    color: antiquewhite;
}


.links ul a:hover, .links ul button:hover{
    text-decoration: underline;
    color: deepskyblue;
    cursor: pointer;
}

ul{
    font-size: 20px;
}

.sign{
     position: fixed;
     right: 0%;
     top: 16px;
     margin-right: 25px;
}

.userbar{
    color: gainsboro;
    position: absolute;
    right: 7%;
    top: 16px;
    margin-right: 25px;
    font-size: 20px;
}

@media screen and (max-width: 1024px){
    .imglogo{
        height: 100px;
    }

    .links{
        display: none;
    }
    .topbar{
        height: 100px;
    }
    .moblinks{
        display: block;
    }
    .sign{
        position: static;
    }
}