/*mainpage*/

.shirt{
    position: static;
    display: inline-grid;
    margin: 20px;
    width: 400px;
    height: 650px;
    border-color: brown;
}

.shirt:hover{
    border-color: green;
}

.shirt img{
    width: 300px;
}

.shirt ul{
    font-size: 25px;
    margin: 0;
}

.tags ul{
    display: inline;
}

/*sign up and login*/

.signform{
    width: 500px;
    position: absolute;
    top: 120px;
    left: calc(50% - 250px);
}

@media screen and (max-width: 1024px){
    .signform{
        width: auto;
        left: 50px;
        right: 50px;
    }
}

/*upload t-shirts*/

.uploadform{
    width: 500px;
    top: 120px;
    left: calc(50% - 250px);
}

@media screen and (max-width: 1024px){
    .uploadform{
        width: auto;
        left: 50px;
        right: 50px;
    }
}

/*admin panel*/

.admin{
    padding: 20px;
}

/*submit*/

.submit{
    width: 700px;
    left: calc(50% - 350px);
    top: 120px;
}

.submit div p{
    font-size: 20px;
}

.submit div{
    position: center;
    padding-top: 10px;
}

@media screen and (max-width: 1024px){
    .submit{
        left: 50px;
        right: 50px;
        width: auto;
    }

    .submit div p{
        font-size: 50px;
    }
}

/*t-shirt page*/

.global{
    padding: 40px;
    background-color: white;
    right: 20%;
    left: 20%;
}

.col-tshirt{
    min-width: 300px;
    min-height: 400px;
}

.col-tshirt img{
    width: 300px;
}

.center{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.tags p{
    display: inline-block;
}

.text-tshirt{
    width: 100px;
}

@media screen and (max-width: 1024px){
    .global{
        left: 50px;
        right: 50px;
        width: auto;
        top: 120px;
    }
}

/*about*/

.about{
    width: 700px;
    left: calc(50% - 350px);
    top: 120px;
}

.about  p{
    font-size: 20px;
}

@media screen and (max-width: 1024px){
    .about{
        left: 50px;
        right: 50px;
        width: auto;
    }

    .about p{
        font-size: 50px;
    }
}

/*user page*/

.acc{
    width: 700px;
    left: calc(50% - 350px);
}

@media screen and (max-width: 1024px){
    .acc{
        left: 50px;
        right: 50px;
        width: auto;
    }
}