*{
    margin: 0;
    padding: 0;
}

.block{
    position: absolute;
    height: auto;
    width: 700px;
    left: calc(50% - 350px);
    top: calc(50% - 20px);
    background-color: white;
    border: solid 5px darkcyan;
    border-radius: 10px;
}

.block div p{
    font-size: 20px;
}

.block div{
    position: center;
    padding-top: 10px;
}

@media screen and (max-width: 1024px) {
    .block{
        left: 50px;
        width: calc(100% - 100px);
        top: 120px;
    }
    .block div p{
        font-size: 50px;
    }
}