*{
    margin: 0;
    padding: 0;
}

.globalblock{
    position: absolute;
    margin: 10px;
    padding: 40px;
    background-color: white;
    border: solid 5px darkcyan;
    border-radius: 10px;
    top: 120px;
    right: 20%;
    left: 20%;
}

.col{
    min-width: 300px;
    min-height: 400px;
}

.col img{
    width: 300px;
}

.center{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.tags p{
    display: inline-block;
}

.input-group-text{
    width: 100px;
}

.tshirts{
    background-image: url("../img/bg.svg");;
}

@media screen and (max-width: 1024px){
    .globalblock{
        left: 50px;
        width: calc(100% - 100px);
        top: 120px;
    }
}