*{
    margin: 0;
    padding: 0;
}

.block{
    padding: 40px;
    background-color: white;
    position: absolute;
    border: solid 5px darkcyan;
    border-radius: 10px;
    width: 500px;
    top: calc(50% - 300px);
    left: calc(50% - 250px);
}

.tshirts{
    background-image: url("../img/bg.svg");
}

@media screen and (max-width: 1024px){
    div.block{
        top: 120px;
        left: 0;
        width: 100%;
    }

    label{
        font-size: 30px;
    }

    .btn{
        width: 300px;
        height: 60px;
        font-size: 30px;
        border-radius: 15px;
    }
    .form-control{
        height: 70px;
        font-size: 35px;
        border-radius: 12px;
    }
}