<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:insert="~{'base' :: base_head}"></div>
    <title>Admin Management</title>
</head>
<body th:class="'tshirts_' + (${user.theme != null} ? ${user.theme.name().toLowerCase()} : 'light')">
    <div class="block admin">
        <form action="#" th:action="@{/admin/admincontrol}" method="post">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col" style="width: 200px">Status</th>
                    <th scope="col" style="width: 200px">Role</th>
                    <th scope="col" style="width: 40px">#</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="person : ${persons}">
                    <td>[[${person.username}]]</td>
                    <td>[[${person.email}]]</td>
                    <td>[[${person.active}]]</td>
                    <td>[[${person.role}]]</td>
                    <td><input type="checkbox" th:name="${person.username}" th:value="checked"></td>
                </tr>
                </tbody>
            </table>
            <div class="input-group" style="width: 250px;">
                <select class="custom-select" name="action"><option selected>Choose...</option>
                    <option value="block">Block</option>
                    <option value="unlock">Unlock</option>
                    <option value="delete">Delete</option>
                    <option value="set_admin">Set Admin</option>
                    <option value="set_user">Set User</option>
                </select>
                <div class="input-group-append">
                    <button class="btn btn-outline-danger" type="submit">Perform</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>