
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="base_head">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
        <link rel="stylesheet" th:href="@{/css/default.css}" />
        <link rel="stylesheet" th:href="@{/css/themes.css}" />
        <link rel="stylesheet" th:href="@{/css/project.css}" />
        <link rel="shortcut icon" th:href="@{/img/tshirt.ico}" type="image/x-icon">
        <div th:insert="~{'base' :: navbar}"></div>
    </div>
</head>
<body>
    <div th:fragment="navbar" class="topbar">
        <img class="logo" th:src="@{/img/logo.png}" src="../static/img/logo.png">
        <div class="links" id="menu">
            <br class="hidden">
            <a th:href="@{/tshirts/store}">Store</a>
            <a th:href="@{/tshirts/about}">About us</a>
            <hr class="hidden">
            <div th:if="${user.active}">
                <a th:if="user.username != null" th:with="var=*{user.username}" th:href="@{'/account/'+${var}}">Account</a>
                <div th:if="${user.role.name() == 'ADMIN'}">
                    <hr class="hidden">
                    <a th:href="@{/tshirts/uploadTshirt}">Upload</a>
                    <a th:href="@{/admin/users}">Manage</a>
                    <hr class="hidden">
                </div>
                <p1 class="message">Hello, [[${user.username}]]</p1>
            </div>
            <form th:if="${user.active}" th:action="@{/logout}" method="post">
                <button type="submit" class="sign"><ul>Sign Out</ul></button>
            </form>
            <a th:unless="${user.active}" class="sign" th:href="@{/login}">Sign In</a>
            <br class="hidden">
        </div>
        <input type="image" th:src="@{/img/menu.svg}" class="hiddenbtn" onclick="btnclick()">
        <script style="display: none">
            var menu = document.getElementById("menu");

            function btnclick() {
                menu.style.display = (menu.style.display === 'block') ? 'none' : 'block';
            }
        </script>
    </div>
</body>
</html>
