<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="~{'base' :: base_head}"></div>
    <title>TshirtShop</title>
</head>
<body th:class="'tshirts_' + (${user.theme != null} ? ${user.theme.name().toLowerCase()} : 'light')">
    <div class="block">
        <div align="center">
            <div class="block shirt" th:each="tshirt : ${tshirts}">
                <a th:with="var=*{tshirt.id}" th:href="@{'/tshirts/store/tshirt'+${var}}"><img th:src="${tshirt.link}"></a>
                <ul>Name: [[${tshirt.name}]]</ul>
                <ul th:if="${tshirt.user}">Author: <a th:if="${user.username != null}" th:with="var=*{tshirt.user.username}" th:href="@{'/account/'+${var}}">[[${tshirt.user.username}]]</a>
                    <span th:unless="${user.username != null}">[[${tshirt.user.username}]]</span>
                </ul>
                <ul th:unless="${tshirt.user}">Author: Unknown</ul>
                <ul>Theme: [[${tshirt.theme}]]</ul>
                <div class="tags">
                    <ul>Tags:</ul>
                    <ul th:each="tag : ${tshirt.tags}">#[[${tag.name}]] </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>