
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:insert="~{'base' :: base_head}"></div>
    <title>Welcome to TshirtShop</title>
</head>
<body th:class="'tshirts_' + (${user.theme != null} ? ${user.theme.name().toLowerCase()} : 'light')">
    <div class="block signform">
        <form action="#" th:action="@{/login}" method="get">
            <button type="submit" class="btn btn-outline-primary">Login</button>
            <button class="btn btn-primary" disabled>Register</button>
        </form>
        <br>
        <form action="#" th:action="@{/registration}" th:object="${user}" method="post">
            <label>Username</label>
            <div class="col-sm-12">
                <input type="text" th:field="*{username}" placeholder="Username" class="form-control" th:maxlength="40">
                <span th:errors="*{username}" class="text-danger">Username input error</span>
                <span class="text-danger" th:text="${userMessage} ? ${userMessage} : '' ">User exists</span>
            </div>
            <br>
            <label>Email</label>
            <div class="col-sm-12">
                <input type="text" th:field="*{email}" placeholder="example@gmail.com" class="form-control" th:maxlength="255">
                <span th:errors="*{email}" class="text-danger">Email input error</span>
                <span class="text-danger" th:text="${emailError} ? ${emailError} : '' ">Email exists</span>
            </div>
            <br>
            <label>Password</label>
            <div class="col-sm-12">
                <input type="password" th:field="*{password}" placeholder="Password" class="form-control" th:maxlength="40">
                <span th:errors="*{password}" class="text-danger">Password input error</span>
            </div>
            <br>
            <label >Confirm Password</label>
            <div class="col-sm-12">
                <input type="password" name = "passwordConfirmation" placeholder="Confirm Password" class="form-control" th:maxlength="40">
                <span th:text="${passwordNotMatch} ? ${passwordNotMatch} : ''" class="text-danger">Password confirmation error</span>
            </div>
            <br>
            <button type="submit" class="btn btn-info">SignUp</button>
        </form>
    </div>
</body>
</html>
