<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        *{
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            font-size: 120%;
        }
    </style>
</head>
<body>
    <h1>Hello, [[${user.username}]]!!!</h1>
    <h1>To confirm your account, please click here : <a th:href="'http://localhost:8080/confirm-account?token=' + ${confirmationToken.getConfirmationToken()}">confirm</a></h1>
</body>
</html>