<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:insert="~{'base' :: base_head}"></div>
    <title>Tshirt "[[${tshirt.name}]]"</title>
</head>
<body th:class="'tshirts_' + ${user.theme.name().toLowerCase()}">
    <div class="block global">
        <div class="container">
            <div class="row">
                <div class="col col-tshirt">
                    <div class="center"><img th:src="${tshirt.link}"></div>
                </div>
                <div class="col col-tshirt">
                    <div class="center">
                        <p>Name: [[${tshirt.name}]]</p>
                        <p th:if="${tshirt.user}">Author: <a th:with="var=*{tshirt.user.username}" th:href="@{'/tshirts/account/'+${var}}">[[${tshirt.user.username}]]</a></p>
                        <p th:unless="${tshirt.user}">Author: Unknown</p>
                        <p>Theme: [[${tshirt.theme}]]</p>
                        <div class="tags">
                            <p>Tags:</p>
                            <p th:each="tag : ${tshirt.tags}">#[[${tag.name}]]</p>
                        </div>
                        <p>Description: [[${tshirt.description}]]</p>
                        <p>yuhhygysdgsdag [[${tshirt.count}]]</p>
                        <a class="btn btn-primary" th:href="${tshirt.link}" style="margin-bottom: 10px">Download</a>
                        <form th:if="${user.role.name()} == 'ADMIN'" action="#" th:action="@{/admin/deletetshirt/}" method="post">
                            <input type="hidden" th:name="tshirt" th:value="${tshirt.id}">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
                <br>
                <div class="col col-tshirt">
                    <div class="center">
                        <form action="#" th:action="@{/tshirts/tshirt/buy}" th:object="${order}" method="post">
                            <input type="hidden" th:name="name" th:value="${tshirt.name}">
                            <input type="hidden" th:if="${tshirt.user.username != null}" th:name="author" th:value="${tshirt.user.username}">
                            <input type="hidden" th:unless="${tshirt.user.username != null}" th:name="author" th:value="null">
                            <input type="hidden" th:name="link" th:value="${tshirt.link}">
                            <input type="hidden" th:name="price" th:value="${tshirt.price}">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text text-tshirt" for="inputGroupSelect01">Size</label>
                                </div>
                                <select th:field="*{size}" class="custom-select" id="inputGroupSelect01">
                                    <option th:value="ХХs" selected>XXs</option>
                                    <option th:value="XS">XS</option>
                                    <option th:value="S">S</option>
                                    <option th:value="M">M</option>
                                    <option th:value="L">L</option>
                                    <option th:value="XL">XL</option>
                                    <option th:value="XXL">XXL</option>
                                    <option th:value="3XL">3XL</option>
                                    <option th:value="4XL">4XL</option>
                                    <option th:value="5XL">5XL</option>
                                </select>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text text-tshirt" for="inputGroupSelect02">Color</label>
                                </div>
                                <select th:field="*{color}" class="custom-select" id="inputGroupSelect02">
                                    <option th:value="White" selected>White</option>
                                    <option th:value="Black">Black</option>
                                    <option th:value="Blue">Blue</option>
                                    <option th:value="Green">Green</option>
                                    <option th:value="Red">Red</option>
                                    <option th:value="Yellow">Yellow</option>
                                </select>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text text-tshirt" for="inputGroupSelect03">Gender</label>
                                </div>
                                <select th:field="*{gender}" class="custom-select" id="inputGroupSelect03">
                                    <option th:value="M" selected>Male</option>
                                    <option th:value="F">Female</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-success" style="position: relative; right:0;">Buy [[${tshirt.price}]]$</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>