<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:insert="~{'base' :: base_head}"></div>
    <title>Upload Source</title>
</head>
<body th:class="'tshirts_' + (${user.theme != null} ? ${user.theme.name().toLowerCase()} : 'light')">
    <form enctype="multipart/form-data" action="#" th:action="@{/tshirts/uploadTshirt}" th:object="${tshirt}" method="post">
        <div class="block uploadform">
            <label>Image</label>
            <div class="col-sm-12">
                <span th:text="${uploadSuccess} ? ${uploadSuccess} : ''" class="text-success">Success of upload</span>
                <span th:text="${uploadError} ? ${uploadError} : ''" class="text-danger">Error of upload</span>
                <div class="input-group mb-3">
                    <div class="custom-file">
                        <input th:type="file" class="custom-file-input" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03" th:name="image">
                        <label class="custom-file-label" for="inputGroupFile03">Choose file</label>
                    </div>
                </div>
                <br>
                <span th:text="${fileError} ? ${fileError} : ''" class="text-danger">File error</span>
            </div>
            <br>
            <label>Name</label>
            <div class="col-sm-12">
                <input type="text" th:field="*{name}" placeholder="T shirt name" class="form-control" th:maxlength="40">
                <span th:errors="*{name}" class="text-danger">Name input error</span>
            </div>
            <br>
            <label>Description</label>
            <div class="col-sm-12">
                <input type="text" th:field="*{description}" placeholder="This t-short about..." class="form-control">
                <span th:errors="*{description}" class="text-danger">Description input error</span>
            </div>
            <br>
            <label>Theme</label>
            <div class="col-sm-12">
                <input type="text" th:field="*{theme}" placeholder="Theme" class="form-control" th:maxlength="40">
                <span th:errors="*{theme}" class="text-danger">Theme input error</span>
            </div>
            <br>
            <label>Tags</label>
            <div class="col-sm-12">
                <input type="text" th:name="tagsline" th:value="${tagsline} ? ${tagsline} : ''" placeholder="#tag1 #tag2 etc" class="form-control" th:maxlength="100">
                <span th:text="${tagsError} ? ${tagsError} : ''" class="text-danger">Tags input error</span>
            </div>
            <br>
            <label>Price</label>
            <div class="col-sm-12">
                <input type="text" th:field="*{price}" placeholder="9.99" class="form-control" th:maxlength="10">
                <span th:text="${priceError} ? ${priceError} : ''" class="text-danger">Price input error</span>
            </div>
            <br>
            <button type="submit" class="btn btn-info">Upload</button>
        </div>
    </form>
</body>
</html>