<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:insert="~{'base' :: base_head}"></div>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/default.css}" href="../static/css/default.css"/>
    <link rel="stylesheet" th:href="@{/css/themes.css}" href="../static/css/themes.css"/>
    <link rel="stylesheet" th:href="@{/css/project.css}" href="../static/css/project.css "/>
    <title>User [[${user.username}]]</title>
</head>
<body th:class="'tshirts_' + (${user.theme != null} ? ${user.theme.name().toLowerCase()} : 'light')">
    <div class="block acc">
        <ul>Username: [[${user.username}]]</ul>
        <ul>Registration date: [[${user.confirmationToken.creationDate}]]</ul>
        <form th:if="${user.username} == ${accountUser.username}" action="#" th:action="@{/theme/${user.username}}" method="post">
            <div class="input-group mb-3" style="width: 260px">
                <div class="input-group-prepend">
                    <button class="btn btn-primary" type="submit">Set theme</button>
                </div>
                <select th:name="theme" class="custom-select" id="inputGroupSelect03" aria-label="Example select with button addon">
                    <p>Choose theme</p>
                    <option value="light" selected>Light</option>
                    <option value="dark">Dark</option>
                </select>
            </div>
        </form>
    </div>
</body>
</html>